body{
font-size: 22px;
}
h2{
    text-align: center;
}
p{
    text-align:justify;
    margin-left:180px ;
    margin-right: 180px;
}
button{
      margin-left:180px ;
    margin-right: 180px;
}
figure{
    text-align: center;
    
}
